<section class="section-pagetop bg">
  <div class="container">
    <h2 class="title-page">Shopping cart</h2>
  </div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
  <div class="container">

    <div class="row">

      <div class="empty" *ngIf="items.length < 1" >
        <div class="infor">
            <h4>Ban chua co san pham nao trong gio hang</h4>
          <a routerLink="" class="btn btn-success"> Quay lai de mua sam </a>
        </div>
      </div>



      <main class="col-md-9" *ngIf="items.length > 0">
        <div class="card">

          <table class="table table-borderless table-shopping-cart">
            <thead class="text-muted">
            <tr class="small text-uppercase">
              <th><input [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)" class="align-middle" style="height: 18px;width: 18px" type="checkbox">
              </th>
              <th scope="col">Product</th>
              <th scope="col" width="120">Quantity</th>
              <th scope="col" width="120">Price</th>
              <th scope="col" class="text-right" width="200"> </th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items; let  index = i">

                <td><input (change)="checkCartPayment()" value="{{item?.bookId}}" [(ngModel)]="item[index].checked" id="selectAll" name="check[]"
                           class="align-middle checkbox1" style="height: 18px;width: 18px" type="checkbox"></td>

                <td>
                  <figure class="itemside">
                    <div class="aside"><img src="/assets/img/book-4.png" class="img-sm"></div>
                    <figcaption class="info">
                      <a href="#" class="title text-dark">{{item.bookName}}</a>
                      <p class="text-muted small">{{item.bookAuthor}} <br> {{item.bookPublisher}}</p>
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <input class="form-control" (blur)="validateInput($event,index)"  [value]="item.bookQuantity"   type="number" min="1">

                </td>
                <td>
                  <div class="price-wrap">
                    <var class="price">{{item.bookPrice*item.bookQuantity | currency:"VND":"symbol"}}</var>
                    <small  class="text-muted"> {{item.bookPrice | currency:"VND":"symbol"}} each </small>
                  </div> <!-- price-wrap .// -->
                </td>
                <td class="text-right">
                  <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light mr-2" data-toggle="tooltip"> <i style="color:red;" class="fa fa-heart"></i></a>
                  <a (click)="onDelete(index)"  class="btn btn-light"> Remove</a>
                </td>
              </tr>


<!--              <tr>-->
<!--                <td><input name="check[]" class="align-middle checkbox1" style="height: 18px;width: 18px" type="checkbox"></td>-->
<!--                <td>-->
<!--                  <figure class="itemside">-->
<!--                    <div class="aside"><img src="/assets/img/book-5.png" class="img-sm"></div>-->
<!--                    <figcaption class="info">-->
<!--                      <a href="#" class="title text-dark">Product name  goes here nice</a>-->
<!--                      <p class="text-muted small">Size: XL, Color: blue, <br> Brand: Gucci</p>-->
<!--                    </figcaption>-->
<!--                  </figure>-->
<!--                </td>-->
<!--                <td>-->
<!--                  <input class="form-control" value="1"  type="number" min="1">-->
<!--                </td>-->
<!--                <td>-->
<!--                  <div class="price-wrap">-->
<!--                    <var class="price">$149.97</var>-->
<!--                    <small  class="text-muted"> $75.00 each </small>-->
<!--                  </div> &lt;!&ndash; price-wrap .// &ndash;&gt;-->
<!--                </td>-->
<!--                <td class="text-right">-->
<!--                  <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light mr-2" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>-->
<!--                  <a href="" class="btn btn-light btn-round"> Remove</a>-->
<!--                </td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td><input name="check[]" class="align-middle checkbox1" style="height: 18px;width: 18px" type="checkbox"></td>-->
<!--                <td>-->
<!--                  <figure class="itemside">-->
<!--                    <div class="aside"><img src="/assets/img/book-6.png" class="img-sm"></div>-->
<!--                    <figcaption class="info">-->
<!--                      <a href="#" class="title text-dark">Another name of some product goes just here</a>-->
<!--                      <p class="small text-muted">Size: XL, Color: blue,  Brand: Tissot</p>-->
<!--                    </figcaption>-->
<!--                  </figure>-->
<!--                </td>-->
<!--                <td>-->
<!--                  <input class="form-control" value="1"  type="number" min="1">-->
<!--                </td>-->
<!--                <td>-->
<!--                  <div class="price-wrap">-->
<!--                    <var class="price">$98.00</var>-->
<!--                    <small class="text-muted"> $578.00 each</small>-->
<!--                  </div> &lt;!&ndash; price-wrap .// &ndash;&gt;-->
<!--                </td>-->
<!--                <td class="text-right">-->
<!--                  <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light mr-2" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>-->
<!--                  <a href="" class="btn btn-light btn-round"> Remove</a>-->
<!--                </td>-->
<!--              </tr>-->
            </tbody>
          </table>

          <div class="card-body border-top">
            <a style="background:#219150;" href="#" class="btn btn-primary float-md-right"> Make Purchase <i class="fa fa-chevron-right"></i> </a>
            <a routerLink="" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Continue shopping </a>
          </div>
        </div> <!-- card.// -->

        <div class="alert alert-success mt-3">
          <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
        </div>

      </main> <!-- col.// -->


      <aside class="col-md-3">
        <div class="card mb-3">
          <div class="card-body">
            <form>
              <div class="form-group">
                <label>Have coupon?</label>
                <div class="input-group">
                  <input type="text" class="form-control" name="" placeholder="Coupon code">
                  <span class="input-group-append">
                                <button style="background:#219150; color: white" class="btn ">Apply</button>
                            </span>
                </div>
              </div>
            </form>
          </div> <!-- card-body.// -->
        </div>  <!-- card .// -->
        <div class="card">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Total price:</dt>
              <dd class="text-right">{{totalMoney | currency:"VND":"symbol"}}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Discount:</dt>
              <dd class="text-right">10% ({{totalMoney*0.01 | currency:"VND":"symbol"}})</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Total:</dt>
              <dd class="text-right  h5"><strong>{{totalMoney - totalMoney*0.01 | currency:"VND":"symbol"}}</strong></dd>
            </dl>
            <hr>
            <p class="text-center mb-3">
              <img style="width: 70%; height: 70%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrJdjso_lcyN_0SmKZH4T0LwvUKVms39KghA&usqp=CAU" >
            </p>

          </div> <!-- card-body.// -->
        </div>  <!-- card .// -->
      </aside> <!-- col.// -->
    </div>

  </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name bg padding-y">
  <div class="container">
    <h6>Payment and refund policy</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  </div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->

<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top padding-y">
  <div class="container">
    <p class="float-md-right">
      &copy; Copyright 2021 All rights reserved
    </p>
    <p>
      <a href="#">Terms and conditions</a>
    </p>
  </div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
