<div class="container">
  <div class="left">
    <nav>
      <a   onclick="tabs(0)" class="tab active">
        <i > user</i>
      </a>
      <a  onclick="tabs(1)" class="tab">
        <i > user</i>
      </a>
      <a  onclick="tabs(2)" class="tab">
        <i > user</i>
      </a>
      <a  onclick="tabs(3)" class="tab">
        <i > user</i>
      </a>
      <a (click)="tabs1()" onclick="tabs(3)" class="tab">
        <i > user</i>
      </a>
    </nav>
  </div>
  <div class="rightbox">
    <div class="profile tabShow">
      <h1>infor</h1>
      <h2>Full name</h2>
      <input type="text" class="input" value="hieu">
      <h2>Full name</h2>
      <input type="text" class="input" value="hieu">
      <h2>Full name</h2>
      <input type="text" class="input" value="hieu">
      <h2>Full name</h2>
      <input type="text" class="input" value="hieu">
      <button type="button" class="btn">Update</button>
    </div>
    <div class="payment tabShow">
      <h1>Payment</h1>
      <h2>Full name</h2>
      <input type="text" class="input" value="hieu">
      <h2>Full name</h2>
      <input type="text" class="input" value="hieu">
      <h2>Full name</h2>
      <input type="text" class="input" value="hieu">
      <h2>Full name</h2>
      <input type="text" class="input" value="hieu">
      <button type="button" class="btn">Update</button>
    </div>
    <div class="subscription tabShow" [ngStyle]="{'display' : 'display'}">
      <h1>subscription</h1>
      <h2>Full name</h2>
      <input type="text" class="input" value="hieu">
      <h2>Full name</h2>
      <input type="text" class="input" value="hieu">
      <h2>Full name</h2>
      <input type="text" class="input" value="hieu">
      <h2>Full name</h2>
      <input type="text" class="input" value="hieu">
      <button type="button" class="btn">Update</button>
    </div>
    <div class="privacy tabShow">
      <h1>privacy</h1>
      <h2>Full name</h2>
      <input type="text" class="input" value="hieu">
      <h2>Full name</h2>
      <input type="text" class="input" value="hieu">
      <h2>Full name</h2>
      <input type="text" class="input" value="hieu">
      <h2>Full name</h2>
      <input type="text" class="input" value="hieu">
      <button type="button" class="btn">Update</button>
    </div>
    <div class="setting tabShow">
      <h1>setting</h1>
      <h2>Full name</h2>
      <input type="text" class="input" value="hieu">
      <h2>Full name</h2>
      <input type="text" class="input" value="hieu">
      <h2>Full name</h2>
      <input type="text" class="input" value="hieu">
      <h2>Full name</h2>
      <input type="text" class="input" value="hieu">
      <button type="button" class="btn">Update</button>
    </div>
  </div>
</div>
