
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign in & Sign up Form</title>
</head>
<body>

<div class="container3"  >
  <div class="forms-container">
    <div class="signin-signup">
      <form [formGroup]="form"  class="sign-in-form" (ngSubmit)="submit()">
        <h2 class="title">Đăng nhập</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" formControlName="username" name="username" placeholder="Nhập tên đăng nhập" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" formControlName="password" name="password" placeholder="Nhập mật khẩu" />
        </div>
        <div class="checkbox__line">
          <input formControlName="remember_me" type="checkbox" class="my-checkbox" value="1" formControlName="remember_me"/>
          Ghi nhớ tài khoản
        </div>
        <div style="display: flex">
          <input style="margin-right: 10px" type="submit" value="Đăng nhập" class="btn solid" />
          <input type="button" routerLink="" value="Trang chủ" class="btn solid" />
        </div>

        <p class="social-text">Hoặc đăng nhập qua</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </form>
      <form [formGroup]="createForm" class="sign-up-form" #f="ngForm" (ngSubmit)="submitCreate()">
        <h2 class="title">Đăng ký</h2>

<!--        THONG TIN TAI KHOAN KHACH HANG-->

        <div formGroupName="account">
          <div style="position: relative; margin-bottom: 40px;width: 410px" class="input-field">
            <i class="fas fa-user"></i>
            <input  formControlName="username" type="text" placeholder="Nhập tên đăng nhập" />
            <div
              *ngIf="createForm.get('account').get('username')?.invalid && (createForm.get('account').get('username')?.touched||createForm.get('account').get('username')?.dirty)">
              <div [hidden]="!createForm.get('account').get('username').errors.required">
                <p style="width: 410px" class="text-warning">
                  Tên tài khoản không được để trống.</p>
              </div>
            </div>
            <div *ngIf="createForm.get('account').get('username')?.invalid && (createForm.get('account').get('username')?.touched||createForm.get('account').get('username')?.dirty)">
              <div [hidden]="!createForm.get('account').get('username').hasError('maxlength')&&!createForm.get('account').get('username').hasError('minlength')">
                <p style="width: 410px" class="text-warning">
                  Độ dài cho phép 5-20 kí tự.</p>
              </div>
            </div>

            <div
              *ngIf="createForm.get('account').get('username')?.invalid && (createForm.get('account').get('username')?.touched||createForm.get('account').get('username')?.dirty)">
              <div [hidden]="!createForm.get('account').get('username').errors.pattern">
                <p style="width: 410px" class="text-warning">
                  Không chứa tí tự đặc biệt và ghi có dấu</p>
              </div>
            </div>
<!--            <div>-->
<!--              <p *ngIf="createForm.errors?.usernameExisted" style="width: 410px" class="text-warning">-->
<!--                Tên tài khoản đã tồn tại.</p>-->
<!--            </div>-->
          </div>
          <div style="position: relative; margin-bottom: 40px;width: 410px" class="input-field">
            <i class="fas fa-lock"></i>
            <input  formControlName="password" type="password" placeholder="Nhập mật khẩu" />
            <div *ngIf="createForm.get('account').get('password')?.invalid && (createForm.get('account').get('password')?.touched||createForm.get('account').get('password')?.dirty)">
              <div [hidden]="!createForm.get('account').get('password').errors.required">
                <p style="width: 410px" class="text-warning">
                  Mật khẩu không được để trống.</p>
              </div>
            </div>
            <div
              *ngIf="createForm.get('account').get('password')?.invalid && (createForm.get('account').get('password')?.touched||createForm.get('account').get('password')?.dirty)">
              <div [hidden]="!createForm.get('account').get('password').errors.pattern&&
                            !createForm.get('account').get('password').hasError('maxlength')&&!createForm.get('account').get('password').hasError('minlength')">
                <p style="width: 410px" class="text-warning">
                  Mật khẩu chứa (8-19 kí tự) ít nhất một kí tự hoa, một kí tự thường, một kí tự số và một kí tự đặc biệt</p>
              </div>
            </div>
          </div>
        </div>


<!--      THONG TIN KHACH HANG-->
        <div formGroupName="customer" >
<!--          name-->
          <div style="position: relative; margin-bottom: 40px;width: 410px" class="input-field" >
            <i class="fas fa-user"></i>
            <input formControlName="customerName" name="customerName" type="text" placeholder="Nhập họ tên" />

            <div
              *ngIf="createForm.get('customer').get('customerName')?.invalid && (createForm.get('customer').get('customerName')?.touched||createForm.get('customer').get('customerName')?.dirty)">
              <div [hidden]="!createForm.get('customer').get('customerName').errors.required">
                <p style="width: 410px" class="text-warning">
                  Họ và tên không được để trống.</p>
              </div>
            </div>

            <div
              *ngIf="createForm.get('customer').get('customerName')?.invalid && (createForm.get('customer').get('customerName')?.touched||createForm.get('customer').get('customerName')?.dirty)">
              <div [hidden]="!createForm.get('customer').get('customerName').errors.pattern && !createForm.get('customer').get('customerName').hasError('minlength')&&
                            !createForm.get('customer').get('customerName').hasError('maxlength')">
                <p style="width: 410px" class="text-warning">
                  Viết hoa kí tự đầu. Độ dài tối đa là 8-50 kí tự</p>
              </div>
            </div>
          </div>

<!--phone number-->
          <div style="position: relative; margin-bottom: 40px;width: 410px" class="input-field">
            <i class="fas fa-phone"></i>
            <input  formControlName="customerPhone" type="text" placeholder="Nhập số điện thoại" />
            <div *ngFor="let validation of validationMessages.customerPhone">
              <div
                *ngIf="this.createForm.get('customer').get('customerPhone').hasError(validation.type) && (this.createForm.get('customer').get('customerPhone').touched || f.submitted)"
                class="text-danger">
                <p style="width: 410px" class="text-warning">{{validation.message}}</p>
              </div>
            </div>
          </div>

<!--          email customer-->
          <div style="position: relative; margin-bottom: 40px;width: 410px" class="input-field">
            <i class="fas fa-envelope"></i>
            <input  formControlName="customerEmail" type="text" placeholder="Nhập email" />
            <div *ngFor="let validation of validationMessages.customerEmail">
              <div
                *ngIf="this.createForm.get('customer').get('customerEmail').hasError(validation.type) && (this.createForm.get('customer').get('customerEmail').touched || f.submitted)"
                class="text-danger">
                <p style="width: 410px" class="text-warning">{{validation.message}}</p>
              </div>
            </div>
          </div>

<!--          address customer-->
          <div style="position: relative; margin-bottom: 40px;width: 410px" class="input-field">
            <i class="fas fa-address-book"></i>
            <input  formControlName="customerAddress" type="text" placeholder="Nhập địa chỉ" />
            <div *ngIf="createForm.get('customer').get('customerAddress')?.invalid && (createForm.get('customer').get('customerAddress')?.touched||createForm.get('customer').get('customerAddress')?.dirty)">
              <div [hidden]="!createForm.get('customer').get('customerAddress').errors.required">
                <p style="width: 310px" class="text-warning">
                  Địa chỉ không được để trống.</p>
              </div>
            </div>
            <div *ngIf="createForm.get('customer').get('customerAddress')?.invalid && (createForm.get('customer').get('customerAddress')?.touched||createForm.get('customer').get('customerAddress')?.dirty)">
              <div [hidden]="!createForm.get('customer').get('customerAddress').hasError('maxlength') && !createForm.get('customer').get('customerAddress').hasError('minlength')">
                <p style="width: 310px" class="text-warning">
                  Địa chỉ chỉ chứa tối thiểu 10 kí tự.</p>
              </div>
            </div>

          </div>
        </div>


        <div style="display: flex">
          <input style="margin-right: 5px" [disabled]="!createForm.valid" type="submit" class="btn" value="Đăng ký" />
          <input type="button" routerLink="" value="Trang chủ" class="btn solid" />
        </div>

<!--        DANG KY QUA CAC SOCIAL MEDIA-->
        <p hidden class="social-text">Hoặc đăng ký qua</p>
        <div hidden class="social-media">
          <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>Đăng ký ở đây nhé ?</h3>
        <p readonly>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
          ex ratione. Aliquid!
        </p>
        <button  class="btn transparent" id="sign-up-btn">
          Đăng ký
        </button>
      </div>
      <img
           src="/assets/img/undraw_reading_time_re_phf7.svg"
           class="image" alt="" />
    </div>
    <div class="panel right-panel">
      <div class="content">
        <h3>Bạn đã là thành viên ? </h3>
        <p readonly>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
          laboriosam ad deleniti.
        </p>
        <button  class="btn transparent" id="sign-in-btn">
          Đăng nhập
        </button>
      </div>
      <img src="/assets/img/undraw_sharing_knowledge_03vp.svg" class="image" alt="" />
    </div>
  </div>
</div>

<!--the div loader-->
<div *ngIf="loading" class="loader-container">
  <img src="/assets/img/loader-img.gif" alt="">
</div>

</body>
</html>
