<body style="background-color:  #f6f6f9; margin-top: 100px">
<header>
    <h2 class="text-center" style="margin-top: 20px; color:#270082; ">Thống kê khách hàng tiềm năng</h2>
</header>
<!--<selector>-->
<div class="combobox">
    <form [formGroup]="formSearch" (ngSubmit)="search()" class="exam-container form-group" id="flex-grow"
          style="opacity: 1;">
        <div class="combobox1">
            <span>Từ tháng</span>
            <div class="select1">
                <!--      <input type="search" name="fromMonth" formControlName="fromMonth">-->
                <select class="form-select" aria-label="Default select example" name="fromMonth"
                        formControlName="fromMonth">
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
        </div>
        <div class="combobox2">
            <span>Đến tháng</span>
            <div class="select2">
                <!--      <input type="search" name="toMonth" formControlName="toMonth">-->
                <select class="form-select" aria-label="Default select example" name="toMonth"
                        formControlName="toMonth">
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
        </div>
        <div class="combobox3">
            <span>Năm</span>
            <div class="select3">
                <!--      <input type="search" name="year" formControlName="year">-->
                <select class="form-select" aria-label="Default select example" name="year" formControlName="year" (click)="getYearSearch()">
                    <option value="" disabled>Chọn năm</option>
                    <option *ngFor="let year of yearListSearch">{{year}}</option>
                </select>
            </div>
        </div>
        <button style="margin-left: 10px" class="bt btn__delete">Tìm kiếm</button>
    </form>
</div>

<div class="thongke">
    <table class="table table-hover table-màu">
        <thead style="background-color: #270082; color: white">
        <tr>
            <th scope="col">Mã KH</th>
            <th scope="col">Tên khách hàng</th>
            <th scope="col">SL đơn hàng (đơn)</th>
            <th scope="col">Tổng giá trị (VNĐ)</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let customer of customers1">
            <th scope="row">{{customer[0]}}</th>
            <td>{{customer[1]}}</td>
            <td>{{customer[2]}}</td>
            <td>{{customer[3]}}</td>
        </tr>
        </tbody>
    </table>
</div>
<!--</selector>-->
<footer>
    <!--  <div *ngIf="totalItems > 5">-->
    <!--    <pagination-controls (pageChange)="getAllCustomer($event)"></pagination-controls>-->
    <!--  </div>-->
    <div class="button">
        <button style="margin-right: 100px" type="button" (click)="chartCustomer()" class="btn__primary"
                data-toggle="modal" data-target="#modalChartHuyen">Xem
        </button>
        <button class="bt btn__delete" (click)="exportPDF()">In</button>
        <button style="margin-left: 160px" class="bt btn__cancel">Trở về</button>
    </div>
    <!--  <br><br><br>-->
    <!--  <div class="row button__container text-center">-->
    <!--    <div class="col-md-3">-->
    <!--      <button style="margin-left: 550px" class="bt btn__delete" (click)="exportPDF()">In</button>-->
    <!--    </div>-->
    <!--    <div class="col-md-3">-->
    <!--      <button style="margin-left: 450px" class="bt btn__cancel">Trở về</button>-->
    <!--    </div>-->
    <!--    <div class="col-md-2"></div>-->
    <!--  </div>-->
</footer>

<!-- Modal -->
<div class="modal fade" id="modalChartHuyen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 150%; transform: translate(-15%);">
            <div class="modal-header">
                <h2 class="modal-title text-primary" id="exampleModalLabel">Biểu đồ thống kê khách hàng tiềm năng</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body">
                <div>
                    <canvas id="canvas">{{chart}}</canvas>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
