<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<div class="thuan">
<nav>

          <li><a href="#" id="cart"><i class="fa fa-shopping-cart"></i> Cart <span class="badge"></span></a></li>

</nav>

  <input type="text"  #input  name="search" [(ngModel)]="keywordSearch" (keyup)=(search(input.value)) id="searchName" class="search-bar" placeholder="Tìm kiếm...">
<br>

  <div class="cards">

    <div class="card" *ngFor="let material of materialList">
      <div class="card__image-holder">
        <img class="card__image" src="assets/images/infor-material/giuong.png" alt="wave" />
      </div>
      <div class="card-title">
        <a href="#" class="toggle-info btn">
          <span class="left"></span>
          <span class="right"></span>
        </a>
        <h2>
          {{material?.materialName}}
          <small>{{material?.materialCode}}</small>
        </h2>
      </div>
      <div class="card-flap flap1">
        <div class="card-description">
          {{material?.materialPrice | currency : 'VND' : 'symbol'}}
        </div>
        <div class="card-flap flap2">
          <div class="card-actions">
            <a href="#" class="btn">Mua ngay</a>
          </div>
        </div>
      </div>
    </div>

    <ngb-pagination [(page)] = "thePageNumber"
                    [pageSize] = "thePageSize"
                    [collectionSize] = "theTotalElements"
                    (pageChange) = "getListMaterial2()"
                    [boundaryLinks]="true"
                    [maxSize]="3"
                    [rotate]="true"

    >
    </ngb-pagination>


  </div>


</div>




