<div class="app-container">
  <div class="app-content-header">
    <h1 class="app-content-headerText">Quản lý sản phẩm</h1>

    <button class="app-content-headerButton">LOGIN</button>
  </div>
  <div class="app-content-actions">
    <input class="search-bar" placeholder="Tìm kiếm..." type="text">
    <div class="app-content-actions-wrapper">
      <div class="filter-button-wrapper">
        <button class="action-button filter jsFilter"><span>Lọc</span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"/></svg></button>
        <div class="filter-menu">
          <label>Kho</label>
          <select>
            <option>Tất cả kho</option>
            <option>Thiết bị bảo hộ y tế</option>
            <option>Sản phẩm chăm sóc sức khỏe</option>
            <option>Thiết bị y tế & vật tư tiêu hao</option>
          </select>
          <label>Trạng thái</label>
          <select>
            <option>Tất cả trạng thái</option>
            <option>Còn hàng</option>
            <option>Hết hàng</option>
          </select>
          <div class="filter-menu-buttons">
            <button class="filter-button reset">
              Hoàn tác
            </button>
            <button class="filter-button apply">
              Xác nhận
            </button>
          </div>
        </div>
      </div>
      <button class="action-button list active" title="List View">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list"><line x1="8" y1="6" x2="21" y2="6"/><line x1="8" y1="12" x2="21" y2="12"/><line x1="8" y1="18" x2="21" y2="18"/><line x1="3" y1="6" x2="3.01" y2="6"/><line x1="3" y1="12" x2="3.01" y2="12"/><line x1="3" y1="18" x2="3.01" y2="18"/></svg>
      </button>
      <button class="action-button grid" title="Grid View">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid"><rect x="3" y="3" width="7" height="7"/><rect x="14" y="3" width="7" height="7"/><rect x="14" y="14" width="7" height="7"/><rect x="3" y="14" width="7" height="7"/></svg>
      </button>
    </div>
  </div>
  <div class="products-area-wrapper tableView">
    <div class="products-header">
      <div class="product-cell image">
        Sản phẩm
        <button class="sort-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z"/></svg>
        </button>
      </div>
      <div class="product-cell category">Kho<button class="sort-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z"/></svg>
      </button></div>
      <div class="product-cell status-cell">Trạng thái<button class="sort-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z"/></svg>
      </button></div>
      <div class="product-cell sales">Đã bán<button class="sort-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z"/></svg>
      </button></div>
      <div class="product-cell stock">Số lượng<button class="sort-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z"/></svg>
      </button></div>
      <div class="product-cell price">Giá<button class="sort-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="currentColor" d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z"/></svg>
      </button></div>
    </div>
    <div class="products-row">
      <button class="cell-more-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
      </button>
      <div class="product-cell image">
        <img src="assets/images/material-infor/Khautrangyte.png" alt="product">
        <span>Khẩu trang</span>
      </div>
      <div class="product-cell category"><span class="cell-label">Kho:</span>Thiết bị bảo hộ y tế</div>
      <div class="product-cell status-cell">
        <span class="cell-label">Trạng thái:</span>
        <span class="status active">Còn hàng</span>
      </div>
      <div class="product-cell sales"><span class="cell-label">Đã bán:</span>11</div>
      <div class="product-cell stock"><span class="cell-label">Số lượng:</span>36</div>
      <div class="product-cell price"><span class="cell-label">Giá:</span>34.000</div>
    </div>
    <div class="products-row">
      <button class="cell-more-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
      </button>
      <div class="product-cell image">
        <img src="assets/images/material-infor/maytaooxi.png" alt="product">
        <span>Máy tạo Oxy DEDAKJ</span>
      </div>
      <div class="product-cell category"><span class="cell-label">Kho:</span>Thiết bị y tế & vật tư tiêu hao</div>
      <div class="product-cell status-cell">
        <span class="cell-label">Trạng thái:</span>
        <span class="status disabled">Hết hàng</span>
      </div>
      <div class="product-cell sales"><span class="cell-label">Đã bán:</span>6</div>
      <div class="product-cell stock"><span class="cell-label">Số lượng:</span>46</div>
      <div class="product-cell price"><span class="cell-label">Giá:</span>1.000.000</div>
    </div>
    <div class="products-row">
      <button class="cell-more-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
      </button>
      <div class="product-cell image">
        <img src="assets/images/material-infor/dobaohoyte.png" alt="product">
        <span>Đồ bảo hộ</span>
      </div>
      <div class="product-cell category"><span class="cell-label">Kho:</span>Thiết bị bảo hộ y tế</div>
      <div class="product-cell status-cell">
        <span class="cell-label">Trạng thái:</span>
        <span class="status active">Còn hàng</span>
      </div>
      <div class="product-cell sales"><span class="cell-label">Đã bán:</span>61</div>
      <div class="product-cell stock"><span class="cell-label">Số lượng:</span>56</div>
      <div class="product-cell price"><span class="cell-label">Giá:</span>50.000</div>
    </div>
    <div class="products-row">
      <button class="cell-more-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
      </button>
      <div class="product-cell image">
        <img src="assets/images/material-infor/vaikhongdet.png" alt="product">
        <span>Vải không dệt</span>
      </div>
      <div class="product-cell category"><span class="cell-label">Kho:</span>Thiết bị bảo hộ y tế</div>
      <div class="product-cell status-cell">
        <span class="cell-label">Trạng thái:</span>
        <span class="status disabled">Hết hàng</span>
      </div>
      <div class="product-cell sales"><span class="cell-label">Đã bán:</span>41</div>
      <div class="product-cell stock"><span class="cell-label">Số lượng:</span>66</div>
      <div class="product-cell price"><span class="cell-label">Giá:</span>30.000</div>
    </div>
    <div class="products-row">
      <button class="cell-more-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
      </button>
      <div class="product-cell image">
        <img src="assets/images/material-infor/khautrangvn95.png" alt="product">
        <span>Khẩu trang Famapro VN95</span>
      </div>
      <div class="product-cell category"><span class="cell-label">Kho:</span>Thiết bị bảo hộ y tế</div>
      <div class="product-cell status-cell">
        <span class="cell-label">Trạng thái:</span>
        <span class="status active">Còn hàng</span>
      </div>
      <div class="product-cell sales"><span class="cell-label">Đã bán:</span>32</div>
      <div class="product-cell stock"><span class="cell-label">Số lượng:</span>40</div>
      <div class="product-cell price"><span class="cell-label">Giá:</span>40.000</div>
    </div>
    <div class="products-row">
      <button class="cell-more-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
      </button>
      <div class="product-cell image">
        <img src="assets/images/material-infor/linhchitaodo.png" alt="product">
        <span>Linh chi táo đỏ</span>
      </div>
      <div class="product-cell category"><span class="cell-label">Kho:</span>Sản phẩm chăm sóc sức khỏe</div>
      <div class="product-cell status-cell">
        <span class="cell-label">Trạng thái:</span>
        <span class="status disabled">Hết hàng</span>
      </div>
      <div class="product-cell sales"><span class="cell-label">Đã bán:</span>22</div>
      <div class="product-cell stock"><span class="cell-label">Số lượng:</span>44</div>
      <div class="product-cell price"><span class="cell-label">Giá:</span>150.000</div>
    </div>
    <div class="products-row">
      <button class="cell-more-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
      </button>
      <div class="product-cell image">
        <img src="assets/images/material-infor/vailockhangkhuan.png" alt="product">
        <span>Vải lọc kháng khuẩn pp</span>
      </div>
      <div class="product-cell category"><span class="cell-label">Kho:</span>Thiết bị y tế & vật tư tiêu hao</div>
      <div class="product-cell status-cell">
        <span class="cell-label">Trạng thái:</span>
        <span class="status active">Còn hàng</span>
      </div>
      <div class="product-cell sales"><span class="cell-label">Đã bán:</span>23</div>
      <div class="product-cell stock"><span class="cell-label">Số lượng:</span>45</div>
      <div class="product-cell price"><span class="cell-label">Giá:</span>25.000</div>
    </div>
    <div class="products-row">
      <button class="cell-more-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
      </button>
      <div class="product-cell image">
        <img src="assets/images/material-infor/maytaooxysantefell.png" alt="product">
        <span>Máy tạo Oxy SANTAFELL Y11</span>
      </div>
      <div class="product-cell category"><span class="cell-label">Kho:</span>Thiết bị y tế & vật tư tiêu hao</div>
      <div class="product-cell status-cell">
        <span class="cell-label">Trạng thái:</span>
        <span class="status active">Còn hàng</span>
      </div>
      <div class="product-cell sales"><span class="cell-label">Đã bán:</span>32</div>
      <div class="product-cell stock"><span class="cell-label">Số lượng:</span>40</div>
      <div class="product-cell price"><span class="cell-label">Giá:</span>3.000.000</div>
    </div>
    <div class="products-row">
      <button class="cell-more-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
      </button>
      <div class="product-cell image">
        <img src="assets/images/material-infor/gangtay.png" alt="product">
        <span>Găng tay</span>
      </div>
      <div class="product-cell category"><span class="cell-label">Kho:</span>Thiết bị bảo hộ y tế</div>
      <div class="product-cell status-cell">
        <span class="cell-label">Trạng thái:</span>
        <span class="status active">Còn hàng</span>
      </div>
      <div class="product-cell sales"><span class="cell-label">Đã bán:</span>24</div>
      <div class="product-cell stock"><span class="cell-label">Số lượng:</span>46</div>
      <div class="product-cell price"><span class="cell-label">Giá:</span>60.000</div>
    </div>
    <div class="products-row">
      <button class="cell-more-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
      </button>
      <div class="product-cell image">
        <img src="assets/images/material-infor/giuong.png" alt="product">
        <span>Giường y tế</span>
      </div>
      <div class="product-cell category"><span class="cell-label">Kho:</span>Thiết bị y tế & vật tư tiêu hao</div>
      <div class="product-cell status-cell">
        <span class="cell-label">Trạng thái:</span>
        <span class="status active">còn hàng</span>
      </div>
      <div class="product-cell sales"><span class="cell-label">Đã bán:</span>41</div>
      <div class="product-cell stock"><span class="cell-label">Số lượng:</span>16</div>
      <div class="product-cell price"><span class="cell-label">Giá:</span>$270</div>
    </div>
    <div class="products-row">
      <button class="cell-more-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
      </button>
      <div class="product-cell image">
        <img src="assets/images/material-infor/nuocyen.png" alt="product">
        <span>Nước yến</span>
      </div>
      <div class="product-cell category"><span class="cell-label">Kho:</span>Sản phẩm chăm sóc sức khỏe</div>
      <div class="product-cell status-cell">
        <span class="cell-label">Trạng thái:</span>
        <span class="status disabled">Hết hàng</span>
      </div>
      <div class="product-cell sales"><span class="cell-label">Đã bán:</span>52</div>
      <div class="product-cell stock"><span class="cell-label">Số lượng:</span>16</div>
      <div class="product-cell price"><span class="cell-label">Giá:</span>200.000</div>
    </div>
    <div class="products-row">
      <button class="cell-more-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
      </button>
      <div class="product-cell image">
        <img src="assets/images/material-infor/maydonhiptim.png" alt="product">
        <span>Máy đo nhịp tim COMEN</span>
      </div>
      <div class="product-cell category"><span class="cell-label">Kho:</span>Thiết bị y tế & vật tư tiêu hao</div>
      <div class="product-cell status-cell">
        <span class="cell-label">Trạng thái:</span>
        <span class="status active">Còn hàng</span>
      </div>
      <div class="product-cell sales"><span class="cell-label">Đã bán:</span>21</div>
      <div class="product-cell stock"><span class="cell-label">Số lượng:</span>46</div>
      <div class="product-cell price"><span class="cell-label">Giá:</span>2.000.000</div>
    </div>
    <div class="products-row">
      <button class="cell-more-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
      </button>
      <div class="product-cell image">
        <img src="assets/images/material-infor/xelan.png" alt="product">
        <span>Xe lăn</span>
      </div>
      <div class="product-cell category"><span class="cell-label">Kho:</span>Thiết bị y tế & vật tư tiêu hao</div>
      <div class="product-cell status-cell">
        <span class="cell-label">Trạng:</span>
        <span class="status active">Còn hàng</span>
      </div>
      <div class="product-cell sales"><span class="cell-label">Đã bán:</span>32</div>
      <div class="product-cell stock"><span class="cell-label">Số lượng:</span>40</div>
      <div class="product-cell price"><span class="cell-label">Giá:</span>800.000</div>
    </div>
  </div>
</div>



