
<!--description product start-->
<div class="container" style="margin-top: 14%">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1"><img  style="width: 50%; height: 50%" src="/assets/img/book-4.png" /></div>
            <div class="tab-pane" id="pic-2"><img  style="width: 50%; height: 50%" src="/assets/img/book-4.png" /></div>
            <div class="tab-pane" id="pic-3"><img style="width: 50%; height: 50%" src="/assets/img/book-5.png" /></div>
            <div class="tab-pane" id="pic-4"><img style="width: 50%; height: 50%" src="/assets/img/book-6.png" /></div>
            <div class="tab-pane" id="pic-5"><img style="width: 50%; height: 50%" src="/assets/img/book-7.png" /></div>
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li class="active"><a data-target="#pic-1" data-toggle="tab"><img style="width: 70%; height: 80%" src="/assets/img/book-4.png" /></a></li>
            <li><a data-target="#pic-2" data-toggle="tab"><img style="width: 70%; height: 80%" src="/assets/img/book-4.png" /></a></li>
            <li><a data-target="#pic-3" data-toggle="tab"><img style="width: 70%; height: 80%" src="/assets/img/book-5.png" /></a></li>
            <li><a data-target="#pic-4" data-toggle="tab"><img style="width: 70%; height: 80%" src="/assets/img/book-6.png" /></a></li>
            <li><a data-target="#pic-5" data-toggle="tab"><img style="width: 70%; height: 80%" src="/assets/img/book-7.png" /></a></li>
          </ul>

        </div>
        <div class="details col-md-6">
          <h3 class="product-title">Bé Biết Nhiều Nghề - Những Chiếc Bánh Nóng Hổi (2 Tuổi)</h3>
          <div class="rating">
            <div class="stars">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            <span class="review-no">41 reviews</span>
          </div>
          <p class="product-description">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
          <h4 class="price">current price: <span>$180</span></h4>
          <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
          <h5 class="sizes">sizes:
            <span class="size" data-toggle="tooltip" title="small">s</span>
            <span class="size" data-toggle="tooltip" title="medium">m</span>
            <span class="size" data-toggle="tooltip" title="large">l</span>
            <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
          </h5>
          <h5 class="colors">colors:
            <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
            <span class="color green"></span>
            <span class="color blue"></span>
          </h5>
          <div class="action">
            <button class="add-to-cart btn btn-default" type="button">add to cart</button>
            <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--description product end-->






<!-- Start Most Popular -->
<div class="product-area most-popular related-product section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>Related Products</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="owl-carousel popular-slider">
          <!-- Start Single Product -->
          <div class="single-product">
            <div class="product-img">
              <a href="#">
                <img class="default-img" src="/assets/img/book-5.png" alt="#">
                <img class="hover-img" src="/assets/img/book-5.png" alt="#">
                <span class="out-of-stock">Hot</span>
              </a>
              <div class="button-head">
                <div class="product-action">
                  <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"> <i class="fa fa-eye" aria-hidden="true"></i><span>Quick Shop</span></a>
                  <a title="Wishlist" href="#"><i class="fa fa-heart" aria-hidden="true"></i><span>Add to Wishlist</span></a>
                  <a title="Compare" href="#"> <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Add to Compare</span></a>
                </div>
                <div class="product-action-2">
                  <a title="Add to cart" href="#">Add to cart</a>
                </div>
              </div>
            </div>
            <div class="product-content">
              <h3><a href="#">Black Sunglass For Women</a></h3>
              <div class="product-price">
                <span class="old">$60.00</span>
                <span>$50.00</span>
              </div>
            </div>
          </div>
          <!-- End Single Product -->
          <!-- Start Single Product -->
          <div class="single-product">
            <div class="product-img">
              <a href="#">
                <img class="default-img" src="/assets/img/book-5.png" alt="#">
                <img class="hover-img" src="/assets/img/book-5.png" alt="#">
              </a>
              <div class="button-head">
                <div class="product-action">
                  <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"> <i class="fa fa-eye" aria-hidden="true"></i><span>Quick Shop</span></a>
                  <a title="Wishlist" href="#"><i class="fa fa-heart" aria-hidden="true"></i><span>Add to Wishlist</span></a>
                  <a title="Compare" href="#"> <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Add to Compare</span></a>
                </div>
                <div class="product-action-2">
                  <a title="Add to cart" href="#">Add to cart</a>
                </div>
              </div>
            </div>
            <div class="product-content">
              <h3><a href="#">Women Hot Collection</a></h3>
              <div class="product-price">
                <span>$50.00</span>
              </div>
            </div>
          </div>
          <!-- End Single Product -->
          <!-- Start Single Product -->
          <div class="single-product">
            <div class="product-img">
              <a href="#">
                <img class="default-img" src="/assets/img/book-5.png" alt="#">
                <img class="hover-img" src="/assets/img/book-5.png" alt="#">
                <span class="new">New</span>
              </a>
              <div class="button-head">
                <div class="product-action">
                  <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"> <i class="fa fa-eye" aria-hidden="true"></i><span>Quick Shop</span></a>
                  <a title="Wishlist" href="#"><i class="fa fa-heart" aria-hidden="true"></i><span>Add to Wishlist</span></a>
                  <a title="Compare" href="#"> <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Add to Compare</span></a>
                </div>
                <div class="product-action-2">
                  <a title="Add to cart" href="#">Add to cart</a>
                </div>
              </div>
            </div>
            <div class="product-content">
              <h3><a href="#">Awesome Pink Show</a></h3>
              <div class="product-price">
                <span>$50.00</span>
              </div>
            </div>
          </div>
          <!-- End Single Product -->
          <!-- Start Single Product -->
          <div class="single-product">
            <div class="product-img">
              <a href="#">
                <img class="default-img" src="/assets/img/book-5.png" alt="#">
                <img class="hover-img" src="/assets/img/book-5.png" alt="#">
              </a>
              <div class="button-head">
                <div class="product-action">
                  <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"> <i class="fa fa-eye" aria-hidden="true"></i><span>Quick Shop</span></a>
                  <a title="Wishlist" href="#"><i class="fa fa-heart" aria-hidden="true"></i><span>Add to Wishlist</span></a>
                  <a title="Compare" href="#"> <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Add to Compare</span></a>
                </div>
                <div class="product-action-2">
                  <a title="Add to cart" href="#">Add to cart</a>
                </div>
              </div>
            </div>
            <div class="product-content">
              <h3><a href="#">Awesome Bags Collection</a></h3>
              <div class="product-price">
                <span>$50.00</span>
              </div>
            </div>
          </div>
          <!-- End Single Product -->
        </div>
      </div>
    </div>
  </div>
</div>
